@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");
    /* Safari, Android, iOS */
}

body {
    font-family: "Vazir" !important;
}

.cards-section {
    background: #f1f2f2 !important;
}

.icon {
    font-size: 2rem;
    color: rgb(13, 110, 253);
    padding: 15px;
    border-radius: 15px;
    background: #ebeafb;
    display: inline-flex;
}

.plan-is-clicked {
    background: #1b2a4e;
    color: white;
    padding-top: 3.5rem !important;
    padding-bottom: 3.5rem !important;
}

.footer-link {
    text-decoration: none;
    color: black;
}